html {
    background-color: gray;
}

.title,
.recipes {
    font-family: Monospace, Arial, sans-serif;
    font-weight: bold;
}

.recipes {
    background-color: darkgray;
    color: #ffa500;
    font-size: 24px;
}

.title {
    color: #ff0000aa;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
}